{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% load static %}
<link rel="stylesheet" href="{% static 'landing/css/login.css' %}">


<!-- {% block head_title %}{% trans "Sign In" %}{% endblock %} -->

{% block content %}


{% get_providers as socialaccount_providers %}



{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<!-- <p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p> -->
{% endif %}

<section class="vh-100 gradient-custom" 
style=
"background: url('/static/landing/images/login--bg.jpg');
background-repeat: no-repeat;
background-size: contain;">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 ">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
              <p class="text-white-50 mb-5 text-center">Welcome back!</p>

              <form class="login" method="POST" action="{% url 'account_login' %}">
                 {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %} 
                    {% for field in form.visible_fields %}          
                      <label class="text-left" for="{{ field.id_for_label }}">{{ field.label}}</label>
                      {% if field.label == "Remember Me" %}
                        {{ field|add_class:'input-group-text' }}
                      {%else%}
                        {{ field|add_class:'form-control' }}
                      {% endif %}                     
                      {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-error">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                              <div class="alert alert-error">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endif %}               
              {% endfor %}
    <div class="text-center">
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction btn btn-primary text-center" type="submit">{% trans "Sign In" %}</button>
    </div>
                
              </form>
              

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0 text-center">Don't have an account? <a href="{{ signup_url }}" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
</p> -->



