{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="py-5 px-5 mb-2">
    <h1>{% trans "Reset Password" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="row justify-content-center">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate>
        {% csrf_token %}
          {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                <div class="col-6">
               {{ field|add_class:'form-control' }}
               </div>
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
        <input type="submit" class="btn btn-primary mb-3" value="{% trans 'Reset My Password' %}" />
    </form>
    </div>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
