<style>
    .dropdown-content-custom{
        background-color: rgba(0, 0, 0, 0.5);
        font-size: medium;
        border-radius: 5px;
    }

    .font-size-24{
        font-size: 24px;
    }

    .font-color{
        color: black;
    }

</style>
<span class="dropdown" style="cursor: pointer; padding-top: 10px;">
    <span class="fa fa-bell font-size-24" onclick="showNotifications()">
        <span style="font-size: 10px;">{{notifications.count}}</span>
    </span>
        <div class="dropdown-content d-none dropdown-content-custom" id="notification-container">
            {% for notification in notifications %}
                {% if notification.post %}
                    {% if notification.notification_type == 1 %}
                    <div class="dropdown-item-parent font-color">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">
                            @{{notification.from_user}} liked your post
                        </a>
                        <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                    </div>
                    {% elif notification.notification_type == 2 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">
                            @{{notification.from_user}} commented on your post
                        </a>
                        <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                    </div>
                    {%endif%}
                {% elif notification.comment %}
                    {% if notification.notification_type == 1 %}
                        <div class="dropdown-item-parent">
                            <a href="{% url 'post-notification' notification.pk notification.post.pk %}">
                                @{{notification.from_user}} liked your comment
                            </a>
                            <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                        </div>
                    {% elif notification.notification_type == 2 %}
                        <div class="dropdown-item-parent">
                            <a href="{% url 'post-notification' notification.pk notification.post.pk %}">
                                @{{notification.from_user}} replied to your comment
                            </a>
                            <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                        </div>
                    {% endif %}
                {%elif notification.thread %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'thread-notification' notification.pk notification.thread.pk %}">
                            @{{notification.from_user}} sent you a message
                        </a>
                        <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                    </div>
                {% elif notification.notification_type == 3 %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'follow-notification' notification.pk notification.from_user.profile.pk %}">
                        @{{notification.from_user}} has started following you
                    </a>
                    <span class="dropdowm-item-close" onclick="removeNotification(`{% url 'notification-delete' notification.pk %}`, `{{request.path}}`)">&times;</span>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </span>